/* Общие стили */
body {
  display: flex;
  justify-content: flex-start; /* Выравнивание по верхнему краю */
  align-items: flex-start; /* Выравнивание по левому краю */
  flex-direction: column; /* Вертикальное расположение */
  margin: 0;
  height: 100vh;
  background-color: #20343d; /* Темный фон для лучшего контраста */
  font-family: 'Times New Roman', Times, serif;
  overflow: hidden;

  background-image: url('/static/forest.png'); /* Укажите путь к вашему изображению */
  background-size: cover; /* Покрывает весь экран */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Не повторяется */
}

/* Шапка */
.header {
  width: 100%;
  background: linear-gradient(90deg, #004080, #003366);
  color: white;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
}

.logout-btn {
  right: 20px;
  top: 20px;
  background-color: #e74c3c;
  width: 80px;
}

.logout-btn:hover {
  background-color: #c0392b;
}

#main-container {
  width: 80%;
  margin: 0 auto;
  padding: 100px;
}


h1, h2 {
  color: #ffd900;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.menu-toggle {
  position: fixed; /* Используем фиксированное позиционирование */
  left: 20px; /* Отступ слева */
  top: 10px; /* Отступ сверху, можете изменить на нужное значение */
  font-size: 20px; /* Размер шрифта */
  background: #0066cc; /* Цвет фона кнопки меню */
  border: none; /* Без рамки */
  color: white; /* Цвет текста кнопки меню */
  padding: 10px 15px; /* Отступы */
  cursor: pointer; /* Указатель на кнопке */
  border-radius: 5px; /* Скругление углов */
  transition: background-color 0.3s; /* Плавный переход */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Тень для кнопки */
  width: 80px
}

.menu-toggle:hover {
  background: #005bb5; /* Цвет при наведении */
}


/* Кнопки */
button {
  font-family: 'Times New Roman', Times, serif; /* Используем Times New Roman, если он доступен */
  position: fixed; /* Используем фиксированное позиционирование */
  right: 20px; /* Отступ*/
  top: 10px; /* Отступ сверху, можете изменить на нужное значение */
  font-size: 20px; /* Размер шрифта */
  background-color: #e74c3c; /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Без рамки */
  border-radius: 5px; /* Скругление углов кнопки */
  cursor: pointer; /* Указатель на кнопке */
  margin: 10px 10px; /* Отступы сверху и снизу */
  width: 80px; /* Ширина кнопки */
  transition: background-color 0.3s; /* Плавный переход */
  padding: 10px; /* Отступы */
}

/* Эффект при наведении на кнопку */
button:hover {
  background-color: #c0392b; /* Темнее при наведении */
}

/* Меню */
.menu {
  position: fixed;
  top: -400px; /* Начальное положение меню за верхним краем экрана (высота меню 250px) */
  left: 0;
  width: 10%; /* Меню будет на всю ширину экрана */
  height: 120px; /* Высота меню */
  background-color: #004080;
  color: white;
  overflow-y: auto;
  transition: top 0.3s ease; /* Анимация по свойству top */
  padding-top: 50px;
  z-index: 10;
  border: 2px solid #000000; /* Добавляем рамку толщиной 2px, цвет - темно-серый (#333) */
  border-radius: 10px; /* Скругляем углы */
}

/* Класс для отображения меню */
.menu.active {
  top: 0; /* При активации меню оно появляется сверху */
}

/* Кнопка закрытия */
.close-btn {
  position: absolute;
  top: 10px;
  right: -10px;
  font-size: 20px;
  background: #cc0000;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

/* Кнопки меню */
.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  padding: 10px;
  text-align: center;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: block;
  transition: background-color 0.3s;
}

.menu ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Контейнер для товаров */
#products-container {
  display: flex;
  flex-wrap: wrap; /* Позволяет переносить элементы на новую строку при нехватке места */
  justify-content: space-between; /* Равномерное распределение товаров по горизонтали */
  gap: 20px; /* Расстояние между товарами */
  margin: 20px 0;
  padding: 10px;
}

/* Карточка товара */
.product-item {
  flex: 1 1 200px; /* Минимальная ширина 200px, элементы будут гибкими */
  max-width: 13%; /* Ограничиваем максимальную ширину */
  margin: 10px; /* Добавляем отступы между товарами */
  background: linear-gradient(135deg, #0059ff, #003f91);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease, background 0.4s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-item img {
  width: 100%;
  height: auto;
  max-width: 200px; /* Ограничение по ширине изображения */
  margin-bottom: 10px;
}

.product-item h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #000000;
}

.product-item p {
  margin: 0 0 10px;
  font-size: 14px;
  color: #000000;
}

.product-item .product-price {
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}

/* Кнопка добавить товар */
.add-item-btn {
  position: fixed;
  right: 20px;
  top: 150px;
  background-color: #27ae60;
  width: 120px;
  z-index: 101;
}

.add-item-btn:hover {
  background-color: #2ecc71;
}

/* Подвал */
.footer {
  text-align: center;
  background-color: #000;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Помещаем подвал поверх остальных элементов */
}

/* Контейнер для бегущей строки */
.marquee-container {
  font-family: 'Times New Roman', Times, serif; /* Используем Times New Roman, если он доступен */
  position: fixed;
  top: 80px; /* Устанавливаем фиксированное положение на странице, чтобы не перекрывать шапку */
  left: 0;
  width: 100%; /* Ширина контейнера на всю страницу */
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  height: 10px; /* Высота контейнера */
  z-index: 1; /* Убедитесь, что бегущая строка будет поверх других элементов */
}

/* Текст бегущей строки */
.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: slideMarquee 15s linear infinite;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 15%; /* Начальная позиция строки за правым краем */
}

/* Анимация бегущей строки */
@keyframes slideMarquee {
  0% {
      transform: translateX(200%); /* Начало строки за правым краем */
  }
  100% {
      transform: translateX(-200%); /* Конец строки за левым краем */
  }
}

/* Кнопка для открытия окна сообщения */
.open-message-btn {
  position: fixed;
  right: 10px;
  top: 780px;
  background-color: #4CAF50;
  color: white;
  padding: 7px 7px; /* Уменьшаем отступы для уменьшения кнопки */
  border: none;
  border-radius: 50%; /* Округлая форма */
  cursor: pointer;
  font-size: 12px; /* Уменьшаем размер шрифта */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  height: 75px;  /* Меньше размер кнопки */
  width: 75px;   /* Меньше размер кнопки */
  display: flex; /* Для центрирования текста */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}

/* Адаптация под широкие экраны (мониторы больше 1440px) */
@media (min-width: 1441px) {
  .open-message-btn {
    right: 10px; /* Увеличенный отступ от правого края */
    top: 83%; /* Увеличенный отступ от нижнего края */
    height: 90px; /* Крупнее кнопка */
    width: 90px;
    font-size: 16px; /* Увеличенный размер текста */
  }
}

/* Адаптация под стандартные экраны (1024px–1440px) */
@media (max-width: 1440px) and (min-width: 1024px) {
  .open-message-btn {
    right: 20px; /* Стандартный отступ */
    top: 50px;
    height: 80px; /* Обычный размер кнопки */
    width: 80px;
    font-size: 14px;
  }
}

/* Адаптация под узкие экраны (меньше 1024px) */
@media (max-width: 1023px) {
  .open-message-btn {
    right: 15px; /* Уменьшенный отступ */
    top: 20px; /* Уменьшенный отступ */
    height: 70px; /* Меньший размер кнопки */
    width: 70px;
    font-size: 12px; /* Уменьшенный размер текста */
  }
}

.open-message-btn:hover {
  background-color: #45a049;
}

/* Модальное окно */
.message-modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #181818; /* Белый фон для контраста */
  border-radius: 12px; /* Более округлые углы */
  padding: 30px; /* Увеличенные отступы */
  width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Более заметная тень */
  z-index: 1000; /* Чтобы окно было поверх других элементов */
  animation: fadeIn 0.3s ease-out; /* Плавное появление окна */
}

/* Стили для фона модального окна */
.modal-overlay {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Темный фон для фона окна */
  z-index: 999; /* Фон будет под модальным окном */
}

/* Кнопка закрытия модального окна */
.close-message-btn {
  background-color: #cc0000;
  color: white;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
}

.close-message-btn:hover {
  background-color: #e74c3c;
}

/* Поле ввода сообщения */
.message-input {
  width: 95%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  margin-top: 10px;
  font-size: 16px;
}

/* Общий фон для модального окна */
.modal-overlay-add_product {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный фон */
  z-index: 1000; /* Поверх других элементов */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-out; /* Плавное появление */
}

/* Контейнер для контента модального окна */
.modal-content {
  background-color: #1f1f1f;
  border-radius: 16px;
  padding: 40px;
  width: 400px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  z-index: 1001;
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  animation: fadeIn 0.4s ease-out;
  border: 1px solid #333;
}

/* Кнопка закрытия */
.close-add_product-btn {
  position: fixed;
  top: 210px;
  right: 790px;
  background: #3a0404;
  border: 1px solid #333e;
  color: #fff;
  size: 30px;
  cursor: pointer;
  width: 100px
}

.close-add_product-btn:hover {
  color: #ff0000;
}

/* Заголовок */
.modal-content h2 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Местоположение лейблов */
label {
  color: #ffffff;
  font-size: 16px;
  margin: 10px 0 5px;
}

/* Стили для текстового ввода */
input[type="text"],
input[type="number"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
}

textarea {
  resize: vertical;
  height: 100px;
}

/* Группа радио-кнопок */
.checkbox-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.checkbox-group label {
  font-size: 14px;
  color: #ffffff;
}

.checkbox-group input[type="radio"] {
  margin-right: 10px;
}

/* Кнопка отправки */
.submit-btn {
  position: fixed;
  right: 1120px;
  top: 220px;
  width: 5%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #45a049;
}

/* Анимация появления */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Модальное окно для информации о товаре */
.modal-overlay-info {
  flex: 1 1 200px; /* Минимальная ширина 200px, элементы будут гибкими */
  max-width: 45%; /* Ограничиваем максимальную ширину */
  margin: 10px; /* Добавляем отступы между товарами */
  background: linear-gradient(135deg, #0059ff, #003f91);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease, background 0.4s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-content-info {
  flex: 1 1 200px; /* Минимальная ширина 200px, элементы будут гибкими */
  max-width: 45%; /* Ограничиваем максимальную ширину */
  margin: 10px; /* Добавляем отступы между товарами */
  background: linear-gradient(135deg, #0059ff, #003f91);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease, background 0.4s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Заголовок и описание товара */
.modal-content-info h2 {
  margin-top: 0;
  font-size: 24px;
  color: #272594;
}

.modal-content-info p {
  font-size: 16px;
  color: #1d0bbd;
}

/* Кнопки модального окна */
.modal-content-info button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Полная ширина */
  text-align: center;
}

.modal-content-info .close-info-btn {
  background-color: #e74c3c; /* Красный цвет */
  color: white;
}

.modal-content-info .close-info-btn:hover {
  background-color: #c0392b;
}

.modal-content-info .delete-btn {
  background-color: #ff6b6b; /* Светло-красный */
  color: white;
}

.modal-content-info .delete-btn:hover {
  background-color: #e63946;
}

.purchase-btn {
  display: none; /* Кнопка скрыта по умолчанию */
  position: fixed;
  right: 20px;
  bottom: 100px;
  background-color: #27ae60;
  width: 120px;
  z-index: 101;
}

.purchase-btn.show {
  display: block; /* Показать кнопку при добавлении класса */
}

.buy-product-btn {
  position: fixed;
  right: 59%;
  top: 23%;
  width: 4%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.delete-product-btn {
  position: fixed;
  right: 42%;
  top: 33.5%;
  width: 4%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.modal-content {
  flex: 1 1 200px; /* Минимальная ширина 200px, элементы будут гибкими */
  max-width: 45%; /* Ограничиваем максимальную ширину */
  margin: 10px; /* Добавляем отступы между товарами */
  background: linear-gradient(135deg, #0059ff, #003f91);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease, background 0.4s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 35%;
  top: 20%;
}

button.close-info-btn {
  position: fixed;
  top: 22%;
  right: 42%;
  background: #3a0404;
  border: 1px solid #333e;
  color: #fff;
  size: 30px;
  cursor: pointer;
  width: 45px;
  border-radius: 100px;
}

.send-message-btn{
  font-family: 'Times New Roman', Times, serif; /* Используем Times New Roman, если он доступен */
  position: fixed; /* Используем фиксированное позиционирование */
  right: 110px; /* Отступ*/
  top: 20px; /* Отступ сверху, можете изменить на нужное значение */
  font-size: 20px; /* Размер шрифта */
  background-color: #e74c3c; /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Без рамки */
  border-radius: 5px; /* Скругление углов кнопки */
  cursor: pointer; /* Указатель на кнопке */
  margin: 10px 10px; /* Отступы сверху и снизу */
  width: 110px; /* Ширина кнопки */
  transition: background-color 0.3s; /* Плавный переход */
  padding: 10px; /* Отступы */
}